extends layout.pug

block content

  nav.nav
      a(href='/')
        span &larr;
        |  Back

  article.portfolio-intro
    h1 Error page
    p The project you've been looking for cannot be found.

  nav.nav
    a(href='/')
      span &larr;
      |  Back
