<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title My Portfolio | Argzon Haziraj
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile-pic.jpg', alt='Argzon Haziraj')
        .dev-intro-box
          h5 Argzon Haziraj
          p I'm Argzon Haziraj, a full-stack JavaScript developer. I've been a front-end developer for the past 10 years. I love UI Design and I did a lot of websites in my career as front-end designer and developer.
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Argzon Haziraj

      block content

  script(src='/static/js/script.js')