extends layout.pug

block content

  nav.nav
      a(href='/')
        span &larr;
        |  Back

  article.portfolio-intro
    h3= `Error: ${err.status}`
    h1 Page not found
    p The page you've been looking for cannot be found.

  nav.nav
    a(href='/')
      span &larr;
      |  Back
